.index-root {
  h1 {
    font-family: $font-stack-tertiary;
    font-size: 4.5rem;
    color: white;
    font-weight: 500;
  }
  p {
    font-family: $font-stack-tertiary;
    font-size: 2rem;
    color: white;
  }
}
