//color
$white: #fff;
$primary-color: #3f3f3f;
$bg-color: rgba(255, 255, 255, 0.9);

//fonts
$font-stack-one: "Raleway", sans-serif;
$font-stack-two: "Petit Formal Script", cursive;
$font-stack-three: "Arima Madurai", cursive;
