@import "sass-mq";
@import "./scss/_mixins.scss";
@import "./scss/_variables.scss";

h1 {
  padding-left: 0.25em;
  font-size: 3.25em;
  font-family: $font-stack-two;
  color: $white;
  font-weight: 500;

  @include mq(tablet) {
    font-size: 6em;
  }
}
