.main-root {
  position: relative;
  height: 75vh;
  display: flex;
  flex-direction: column;
  overflow: auto;

  @include bp(sm) {
    height: 65vh;
  }

  @include bp(lg) {
    height: 80vh;
  }
  @include bp(xl) {
    height: 88vh;
  }
}
